<%- include ('includes/navbar') %>
<div class='container'>
    <div class='jumbotron'>
        
        <% if (( session.dasherr != undefined && session.dasherr.status && session.count == 1)) { %>
            <h5 class="hidden" id = "<%- session.dasherr.type %>"><%- session.dasherr.message %></h5>
        <% } %>    
        <% if (session.username === "admin") { %>
            <h3>Hello, Admin </h5>
            <h4>Add another Book to the Library</h4>
            <form action = "/add" method = "POST">
                <div class="form-group text-primary">
                    <label>Book ID</label>
                    <input id = "input1" placeholder="Enter The Book ID" name="bookid" type="text" class= "form-contorl">
                </div>
                <div class="form-group text-primary">
                    <label>Book Name</label>
                    <input id = "input2" placeholder = "Enter Book Name" name="bookname" type = "text" class="form-control">
                </div>
                <div class="form-group text-primary">
                    <label>Author Name</label>
                    <input id = "input3" placeholder = "Author Name" name="author" type = "text" class="form-control">
                </div>
                <button id = "submit" type="submit" class="btn btn-primary btn-large">Add Book</button>
            </form>
        <% } else { %>
            <h5>Hello, <%- session.username %></h5>
            <% if (status) { %>
                <h5>Below is the list of Books Issued to You</h5>
                <table class='table table-striped table-hover'>
                    <tr>
                        <th>User ID</th>
                        <th>Book</th>
                        <th>Book ID</th>
                        <th>Author</th>
                        <th>Issue Date</th>
                        <th></th>
                    </tr>
                    <% data.forEach(element => { %>
                        <tr>
                            <td><%- element.ID %></td>
                            <td><%- element.Book %></td>
                            <td><%- element.BookID %></td>
                            <td><%- element.Author %></td>
                            <td><%- element.DateIssued %></td>
                            <td><a class = "btn btn-danger " href="/returnrequest?id=<%- element.BookID %>">Return</a></td>
                        </tr>
                    <% }) %>
                </table>
            <% } else { %>
                <h5>Currently no books are issued to you please go to the Books Section and Find the book of your choice</h5>
            <% } %>
        <% } %>
    </div>
</div>
<style>
    table{
        font-size : 1.25em !important;
    }
    label{
        color:white;
        font-size:2em;
    }
    #success {
        text-align:center;
        color:white;
        background-color: rgb(62, 216, 62);
        border-radius :1em;
    }
    #error{
        text-align:center;
        border-radius :1em;
        color:white;
        background-color: rgb(255, 77, 77);
    }
</style>

<script src="adminDash.js"></script>